/* general styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h3 {
    font-family: cursive;
    color: #3e2723;
    margin-top: 5rem;
}

main {
    flex: 1 0 auto;
}

/* navbar */
nav.navbar {
    background-color: #623c3c;
}

a.brand-logo {
    font-family: cursive;
    font-size: 1.8em;
}

/* buttons */
a.btn-large.brown.darken-1:hover {
    background-color: #623c3c !important;
}

/* cards */
div.card {
    background-color: #634242;
}

/* footer */
.page-footer {
    background-color: #340202f2;
}

footer div.container {
    margin-bottom: 20px;
}

/* Media Queries */
@media (min-width: 768px) {
    .navbar .sidenav-trigger {
        display: none; 
    }

    .navbar .right {
        display: flex !important; 
        align-items: center;
    }

    .navbar .right li {
        margin-right: 10px; 
    }
    a.brand-logo {
        left: 7rem;
    }

    footer div.container {
        margin-left: 5rem;
    }
}

@media (min-width: 992px) {
    .navbar .right {
        padding-right: 1rem;
    }

    a.brand-logo {
        left: 2.5rem;
    }
}