/* general styles */
body {
    background-color: #fff3e0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h3 {
    font-family: cursive;
    color: #3e2723;
    margin-top: 5rem;
    padding-bottom: 15px;
}

main {
    flex: 1 0 auto;
}

/* navbar */
nav.navbar {
    background-color: #623c3c;
}

a.brand-logo {
    font-family: cursive;
    font-size: 1.8em;
}


/* flash messages */
.flash-messages {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.success-message {
    background-color: #64dd17;
    color:black; 
}

.error-message {
    background-color: #d84315;
}

.warning-message {
    background-color: #ff9800;
    color:black;
}


/* buttons */

a.btn-large.deep-orange.lighten-1 {
    margin-bottom: 60px;
}

a.btn-large.deep-orange.lighten-1:hover {
    background-color: #d84315 !important;
}

.btn-large.brown.darken-1:hover {
    background-color: #623c3c !important;
}


/* cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container .col {
    display: flex;
    flex-direction: column; 
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #634242;
}



/* footer */
.page-footer {
    background-color: #340202f2;
}


footer div.container {
    margin-bottom: 20px;
}


/* Media Queries */
@media (min-width: 768px) {
    .navbar .sidenav-trigger {
        display: none; 
    }

    .navbar .right {
        display: flex !important; 
        align-items: center;
    }

    .navbar .right li {
        margin-right: 10px; 
    }
    a.brand-logo {
        left: 7rem;
    }

    footer div.container {
        margin-left: 5rem;
    }
}

@media (min-width: 992px) {
    .navbar .right {
        padding-right: 1rem;
    }

    a.brand-logo {
        left: 2.5rem;
    }

    .card-action {
        display: flex;
        justify-content: center;
    }
}